*, body{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
background-color: #fff;
font-family: 'Hanken Grotesk', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contenedor{
    width: 740px;
    height: 515px;
    display: flex;
    -webkit-box-shadow: 10px 10px 44px 0px rgba(227,223,227,1);
    -moz-box-shadow: 10px 10px 44px 0px rgba(227,223,227,1);
    box-shadow: 10px 10px 44px 0px rgba(227,223,227,1);
    border-radius: 50px;
}
.izquierda{
    width: 50%;
    height: 100%;
    background-color: #5F3FFC;
    border-radius: 50px;
    
}
.derecha{
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 0 50px 50px 0;
}
.resultado{
    background-color: transparent;
    
}
.resultado h3{
    background-color: transparent;
    color: #CDC8FF;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
}
.resumen h3{
    color: #2E3958;
    text-align: left;
    margin-left: 40px;
    
}
.circulo-padre{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-top: 30px;
}
.circulo{
    width: 200px;
    height: 200px;
    margin: 0;
    border-radius: 50%;
    border-radius: 150px;
    background: #4A23CC;
    box-shadow: inset 42px 42px 68px #3a1b9f,
                inset -42px -42px 68px #5a2bf9;   
}
.numero{
    background-color: transparent;
}
.numero h1{
    background-color: transparent;
    color: white;
    font-size: 75px;
    text-align: center;
    margin-top: -40%;
 }
 .numero p{
    background-color: transparent;
    color: #99a3c0;
    font-size: 20px;
    text-align: center;
 }
 .excelente{
    background-color: transparent;
 }
 .excelente h1{
    background-color: transparent;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 25%;
 }
 .excelente p{
    background-color: transparent;
    color: #BAB3FF;
    font-size: 19px;
    text-align: center;
    padding: 0 40px;
    
 }
 /* .skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
 } */
 .habilidades{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: wheat;
    margin: 15px 25px;
    border-radius: 15px;
    font-family: inherit;
 }
 .habilidades:first-child{
    background-color: #FFF6F5;
 }
 .habilidades:nth-child(2){
    background-color: #FFFBF2;
 }
 .habilidades:nth-child(3){
    background-color: #F2FBFA;
 }
 .habilidades:last-child{
    background-color: #F3F3FD;
 }
 .habilidades > *{
    background-color: transparent;
 }
 .habilidades h4{
    color: #575A68;
    font-size: 19px;
 }
.habilidades-h4{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: 19px;
}
#reaccion{
    color: #F78A8B;
}
#memoria{
    color: #FDBD45;
 }
 #verbal{
    color: #6ACCB3;
 }
#visual{
    color: #323BB2;
}
.habilidades-h4 > *{
    background-color: transparent;
}
